---
import BasicImage from "../BasicImage.astro"

import ImageTextCombo from "../ImageTextCombo.astro"
import ImageText from "../ImageText.astro"
import Link from "../Link.astro"
import MainSection from "../MainSection.astro"

import equipment from "./equipment.webp"
import bricks from "./bricks.webp"
import window from "./window.webp"
import solar from "./solar.webp"
import binservice from "./binservice.jpg"
---

<MainSection>
  <ImageTextCombo>
    <BasicImage slot="image" src={equipment} alt="Company equipment" />
    <ImageText slot="text">
      <ul class="list-disc list-inside">
        <li>
          <b>High Pressure Washing</b> at 220 degrees with a PSI of 3500 at 5
          GPM.
        </li>
        <li>Hard surfaces, structures, walls and more.</li>
        <li>Remove stains, graffiti and efflorescence.</li>
        <li>
          <b>Low Pressure Washing</b> using pure deionized spot free H2O.
        </li>
        <li>Window and screen cleaning</li>
        <li>Solar Panels</li>
        <li>Marine, RV and Auto</li>
      </ul>
    </ImageText>
  </ImageTextCombo>

  <ImageTextCombo>
    <BasicImage
      slot="image"
      reverse={true}
      src={bricks}
      alt="Pavers before and after"
    />
    <ImageText slot="text">
      <p><b>H2O Power Pro - Paver Cleaning and Sealing</b></p>
      <p>
        Paver sealing is a great option that offers immediate results enhancing
        the beauty and character of your home producing a natural look or even a
        high gloss finish. More importantly forming a protective barrier from
        weather and staining.
      </p>
    </ImageText>
  </ImageTextCombo>

  <ImageTextCombo>
    <BasicImage slot="image" src={window} alt="Window washing" />
    <ImageText slot="text">
      <p><b>H2O Power Pro - Window Cleaning</b></p>
      <p>
        Our exterior window cleaning service provides amazing results using a
        PURE SPOT FREE water fed pole. The soft brush does all the work leaving
        a spot free shine. Our optional screen cleaning service will elevate the
        appearance of your home. Contact us today for a free estimate.
      </p>
    </ImageText>
  </ImageTextCombo>

  <ImageTextCombo>
    <BasicImage slot="image" reverse={true} src={solar} alt="Washing solar" />
    <ImageText slot="text">
      <p><b>H2O Power Pro - Solar Panel Cleaning</b></p>
      <p>
        Protect your investment and maximize the efficiency of your system. We
        do not use any chemicals that could potentially harm your solar panel
        system. We truly rely on the PURE SPOT FREE WATER method to ensure your
        system is protected and cleaned.
      </p>
    </ImageText>
  </ImageTextCombo>

  <ImageTextCombo>
    <BasicImage slot="image" src={binservice} alt="Trash bin service" />
    <ImageText slot="text">
      <p><b>H2O Power Pro - Trash Bin Service</b></p>
      <p>
        Dirty Bins Stink! Let us handle this dirty job for you, eliminating odor
        and bacteria while providing quick and convenient curbside service.
        Simply leave your empty bins out at the curb, and we will handle the
        rest! Set up a one time or subscription service by clicking <Link
          href="/purchase"
        >
          here
        </Link>.
      </p>
    </ImageText>
  </ImageTextCombo>
</MainSection>
