---
import Layout from "../layouts/Layout.astro"
import { Image } from "astro:assets"

import e from "../images/SQEquipment.jpg"
import w from "../images/SQWindow.jpg"
import s from "../images/SQScreen.jpg"
import t from "../images/SQTruck.jpg"

import MainSection from "../components/MainSection.astro"

import t1 from "../images/trash/Trash1.jpg"
import t2 from "../images/trash/Trash2.jpg"
import t3 from "../images/trash/Trash3.jpg"
import t4 from "../images/trash/Trash4.jpg"
import tbc from "../images/trash/TrashBinCleaning.png"

import power1 from "../images/powerwash/One.jpg"
import power2 from "../images/powerwash/Wand.jpg"
// import power3 from "../images/powerwash/waterfalls.jpg"

import np1 from "../images/powerwash/new/one.jpg"
// import np2 from "../images/powerwash/new/two.jpg"
// import np3 from "../images/powerwash/new/three.jpg"
import np4 from "../images/powerwash/new/four.jpg"
import np5 from "../images/powerwash/new/five.jpg"
import np6 from "../images/powerwash/new/six.jpg"

import before from "../images/powerwash/before.jpg"
import after from "../images/powerwash/after.jpg"
---

<Layout title="Gallery" pathname="/gallery">
  <MainSection>
    <h2 class="pt-5 text-3xl font-bold text-center text-slate-900">
      Power Washing
    </h2>
    <Image <Image class="pt-2" src={power1} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={power2} alt="H2O Power Pro gear" />

    <div
      class="pt-5"
      style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
    >
      <Image src={np4} width={650} alt="H2O Power Pro gear" />
      <Image src={np1} width={650} alt="Window screen washing" />
      <Image
        style="aspect-ratio: 1/1; object-fit: cover"
        src={np5}
        width={650}
        alt="Window washing first floor"
      />
      <Image src={np6} width={650} alt="Window washing second floor" />
    </div>

    <div class="grid w-full grid-cols-2 gap-2 pt-5">
      <Image src={before} width={650} alt="Window washing second floor" />
      <Image src={after} width={650} alt="Window washing second floor" />
    </div>

    <!-- <Image class="pt-2" src={np1} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={np2} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={np3} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={np4} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={np5} alt="H2O Power Pro gear" />
    <Image class="pt-2" src={np6} alt="H2O Power Pro gear" /> -->

    <h2 class="pt-5 text-3xl font-bold text-center text-slate-900">
      Window Service
    </h2>

    <div
      class="pt-5"
      style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
    >
      <Image src={e} width={650} alt="H2O Power Pro gear" />
      <Image src={w} width={650} alt="Window screen washing" />
      <Image src={s} width={650} alt="Window washing first floor" />
      <Image src={t} width={650} alt="Window washing second floor" />
    </div>

    <style>
      .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        margin-top: 0.5rem;
      }
      .embed-container iframe,
      .embed-container object,
      .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>

    <div class="embed-container">
      <iframe
        src="https://www.youtube.com/embed/XcWDsRH29NM?si=lgqLyAPspo3-0rC-"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="embed-container">
      <iframe
        src="https://www.youtube.com/embed/xOT2r7dV1Pc?si=n2quIKI9FGQNGrKh"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
    <div class="embed-container">
      <iframe
        src="https://www.youtube.com/embed/_etZ2cyzZDk?si=duKeQvHI5dZqPyOl"
        frameborder="0"
        allowfullscreen></iframe>
    </div>

    <h2 class="pt-5 text-3xl font-bold text-center text-slate-900">
      Trash Bin Service
    </h2>

    <Image src={tbc} class="m-auto" alt="H2O Power Pro gear" />
    <div
      class="pt-5"
      style="display: grid; grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(2, 1fr); 
      gap: .5rem;
      width: 100%; 
      aspect-ratio: 1/1;"
    >
      <Image src={t1} width={650} alt="H2O Power Pro gear" />
      <Image src={t2} width={650} alt="Window screen washing" />
      <Image src={t3} width={650} alt="Window washing first floor" />
      <Image src={t4} width={650} alt="Window washing second floor" />
    </div>
  </MainSection>
</Layout>
