---
interface Props {
  title: string
}

import PhoneIcon from "../components/icons/PhoneIcon.astro"
import MailIcon from "../components/icons/MailIcon.astro"
import FacebookIcon from "../components/icons/FacebookIcon.astro"
import GoogleIcon from "../components/icons/GoogleIcon.astro"
import YelpIcon from "../components/icons/YelpIcon.astro"
import InstagramIcon from "../components/icons/InstagramIcon.astro"
import YoutubeIcon from "../components/icons/YoutubeIcon.astro"
import { ViewTransitions } from "astro:transitions"

const { title } = Astro.props

const links = [
  ["/", "Home"],
  ["/services", "Services"],
  ["/gallery", "Gallery"],
  ["/purchase", "Purchase"],
]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Professional pressure washing services for your home or business."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💧</text></svg>"
    />
    <ViewTransitions />
  </head>
  <body class="antialiased text-slate-600">
    <main class="font-serif">
      <header class="pb-3 mb-2 text-gray-200 bg-blue-900 pt-7">
        <h1 class="py-4 text-5xl font-extrabold text-center text-white">
          H2O Power Pro
        </h1>

        <div class="text-xl text-center sm:flex sm:gap-4 sm:justify-center">
          <p class="flex items-center justify-center">
            <PhoneIcon />
            <a class="p-3 pl-2 text-xl hover:underline" href="tel:702-303-9006">
              702-303-9006
            </a>
          </p>
          <p class="flex items-center justify-center">
            <MailIcon />
            <a
              class="p-3 pl-2 text-xl hover:underline"
              href="mailto:owner@H2OPowerPro.com"
            >
              owner@H2OPowerPro.com
            </a>
          </p>
        </div>

        <div>
          <nav class="flex justify-center space-x-1 text-lg text-white">
            {
              links.map(([path, label]) =>
                Astro.url.pathname === path ? (
                  <p class="px-3 py-2 text-gray-400">{label}</p>
                ) : (
                  <a
                    class="px-3 py-2 transition-all rounded-md hover:bg-slate-950"
                    href={path}
                  >
                    {label}
                  </a>
                )
              )
            }
          </nav>
        </div>
      </header>

      <slot />

      <footer
        class="flex justify-center gap-4 pb-5 text-center pt-7"
        transition:persist
      >
        <a
          href="https://www.facebook.com/people/H2O-Power-Pro/61551053690915"
          aria-label="Facebook"
        >
          <FacebookIcon />
        </a>
        <a
          href="https://www.google.com/maps/place/H2O+Power+Pro/@36.136222,-115.1574945,10z/data=!4m6!3m5!1s0x850844fd0a88fe33:0xe74f1b9b56a7ff69!8m2!3d36.136222!4d-115.1574945!16s%2Fg%2F11vb1gldw_?entry=ttu"
          aria-label="Google Maps"
        >
          <GoogleIcon />
        </a>
        <a
          href="https://www.yelp.com/biz/h2o-power-pro-henderson"
          aria-label="Yelp"
        >
          <YelpIcon />
        </a>
        <a href="https://www.instagram.com/h2opowerpro/" aria-label="Instagram">
          <InstagramIcon />
        </a>
        <a href="https://www.youtube.com/@H2OPowerPro" aria-label="YouTube">
          <YoutubeIcon />
        </a>
      </footer>
    </main>
  </body>
</html>
